ul li{
  list-style-type: none;
  margin-left: 10px;
  color: black;
  font-size: 14px;
}
ul{
  color: #000;
  margin-left: -19%;
  margin-bottom: -8%;
}
.max-height{
  height: 100vh;
  background-color: #f0eeee;
}